
 .main-header {
  position:fixed;
  background: rgb(250, 207, 155);
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  width: 100%;
  top: 0;
  left:0;
 }

 .headcontainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }

/*-----Pokemon Image Button-----*/


button{
    width: 305px;
    height: 95px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    background: url(logo2.png);
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#pbutton{
  margin-left: -10px;
 }
button:before{
  content:'';
  position: absolute;
  left:-2px;
  top: -2px;
  z-index: -1;
  background: linear-gradient(90deg, #1c4b27, #448a95, #e2e32b, #961a45, #994025, #994025, #4a677d);
  background-size: 400%;
  filter: blur(10px);
  height: calc(100% + 3px);
  width: calc(100% + 3px);
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.1s ease-in-out;
  animation: glowbutton 10s linear infinite;

 }

button:hover:before{
   opacity: 1;
 }

button:active{
    color:black;
 }
 
button:after{
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb#111;
  left: 0;
  top: 0;
  border-radius: 10px;
 }

button:active:after{
    background: transparent;
 }

@keyframes glowbutton{
  0%{
      background-position: 0 0;
  }
  50%{
      background-position: 400% 0;
  }
  100%{
      background-position: 0 0;
  }
 }

 .play:hover {
   cursor: url(pokenoteCUR.png), auto;
 }

 /*-------pokeball---------*/

 .pokeball{
  margin-left: 60px;
}
 .hover-rotate {
  overflow: hidden;
  margin: 8px;
  min-width: 240px;
  max-width: 320px;
  width: 100%;
}

.hover-rotate img {
  transition: all .5s;
  box-sizing: border-box;
  max-width: 100%;
  height: 153.4;
  width: 153.4;
}

.hover-rotate:hover img {
  transform: rotate(360deg);
}

 .center {
    height: 117.75px;
    width: 320px;
    image-orientation: center;
  } 

  /*-----sorting menu-----*/
 .dropbtn {
  background-color: bisque;
  color: rgb(51, 49, 47);
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 10px;
  top: 10px;


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(248, 206, 156);
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  min-width: 200px;
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(248, 214, 172);}

.sortmenu {
  margin-left: auto;
  padding: 50px, 50px, 0, 0;
  
 }

 /*-----------------------*/
 
 .container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 250px 250px 250px 250px;
    grid-gap: 1rem;
    margin-top: 400px;
  }
  
  body {
    background-color: bisque;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url(PokeballCUR.png), auto;
  }

  /* -----pokemon card animation 1----- */

  @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  
    80% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

.pokecard:hover {
	animation: bounce .5s;
}

/* -----pokemon card ----- */

.pokecard {
  /*background-color: aqua;
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);*/
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: rgb(34, 28, 28);
  border-radius: 4px;
  border: 3px solid #171717;
  overflow: auto;
  display: inline-block;
  flex-direction: column;
  padding: 0;
}


/* -----pokemon card contents----- */

.pokecard.name {
  width: 100%;
  height: auto;
  text-align: center;
  position: absolute;
}

.name {
  max-width: 80%;
  height: auto;
  font-size: 20px;
  font-style: bold;
}

.pokecard.number {
  width: 80%;
  height: auto;
  text-align: center;
  position: absolute;
}

.pokecard img{
  margin: 0 auto;
  width: 100%;
}

.pokecard.type {
  max-width: 100%;
  max-height: auto;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.type {
  max-width: 100%;
  font-size: 20px;
  font-style: bold;
}

.type__fire {
  background-color: #FDDFDF;
  }
.type__grass {
  background-color: #DEFDE0;
  }
.type__electric {
  background-color: #FCF7DE;
  }
.type__water {
  background-color: #DEF3FD;
  }
.type__ground {
  background-color: #f7d3aa;
  }
.type__rock {
  background-color: #D5D5D4;
  }
.type__fairy {
  background-color: #FCEAFF;
  }
.type__poison {
  background-color: #98D7A5;
  }
.type__bug {
  background-color: #F8D7A5;
  }
.type__dragon {
  background-color: #97B3E6;
  }
.type__psychic {
  background-color: #EAEDA1;
  }
.type__flying {
  background-color: #dbb2f7;
  }
.type__fighting {
  background-color: #E6E0D4;
  }
.type__normal {
  background-color: #F5F5F5;
  }

